# ==========================================
# MedCare Environment Configuration
# ==========================================
PORT=3000
NODE_ENV=development

# Database Configuration
POSTGRES_USER=medcare
POSTGRES_PASSWORD=medcare_secure_pass
POSTGRES_DB=medcare_db

# Local connection string (for local development outside Docker)
DATABASE_URL="postgresql://medcare:medcare_secure_pass@localhost:5432/medcare_db?schema=public"

# Redis Cache & PubSub
REDIS_URL="redis://localhost:6379"

# Security & Authentication
JWT_SECRET="medcare_enterprise_super_secret_jwt_key_2026"
JWT_EXPIRES_IN="1d"

# OAuth Providers
GOOGLE_CLIENT_ID=""

# pgAdmin (Database GUI)
PGADMIN_DEFAULT_EMAIL="admin@medcare.local"
PGADMIN_DEFAULT_PASSWORD="admin"
